/* text */
.text {
    font-family: "Helvetica";
    text-anchor: middle;
}

#main-text {
    font-size: 24px;
}

#uniqueHitsNum {
    font-size: 36px;
}


/* visual structures */
.mirror{
    fill: #ADECFF
}

.wall{
    fill: black;
}

.target {
    fill: #FF7800;
}

#controlCircle {
    fill: gray;
}